<h1>{{ question.question_text }}</h1>
<ul>
    {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }}</li>
    {% endfor %}
    <!-- formas de referenciar urls nos templates -->
    <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    <!-- <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li> -->

    <!-- como posso ter mais de uma aplicação, para referenciar suas urls, 
        deve ser colocado: 

        app_name = 'nome_aplicação'

        no arquivo urls de sua aplicação a qual se quer referenciar em seu html
        depois referenciar o app name em seu link
    -->
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
</ul>